.FixedHeader {
    background-color: rgb(177, 224, 227);
    position: fixed;
    z-index: 100;
    width: 100%;
    border-bottom: 2px solid white;
    transition-property: transform, opacity;
    transition-duration: .15s;
    transition-timing-function: ease;
}
.Hide {
    transform: translateY(-100%);
    opacity: 0;
}
.FixedHeader .right {
    position: relative;
    margin-top:10px;
}

@media (min-width: 992px) {
    .FixedHeader {
        border-bottom-width: 3px;
    }
}
