.Star {
  height: 44px;
  width: 44px;
  position: absolute;
  padding:4px;
  box-sizing: border-box;
  border: 2px solid white;
  left: -50px;
}
.hideOnMobile {
    display: none;
}

@media (min-width: 576px) {
    .Star {
        height: 60px;
        width: 60px;
        left: -70px;
        top: 0;
    }
    .hideOnMobile {
        display: block;
    }
}
