.Icon {
    width: 120px;
    height: 120px;
    margin: 0 auto 30px;
    border: 2px solid white;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    cursor: pointer;
}

.Icon .Title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    background: rgb(236, 105, 106);
    height: 0;
    width: 100%!important;
    transition-duration: .25s;
    transition-property: height, opacity;
    opacity: 0;
    box-sizing: border-box;
    padding: 15px;
    text-transform: uppercase;
    color: white;
    text-align: left;
    font-size: .8rem;
}
.Icon:hover .Title {
    height: 120px;
    opacity: 1;
}


.Icon > img {
    width: 100%;
    height: auto;
}

.Icon .Loader {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(236, 105, 106);
    opacity: 1;
    transition: opacity .5s;
}
.Icon .Loader.Load {
    opacity: 0;
}

.lds-dual-ring {
    display: inline-block;
    width: 64px;
    height: 64px;
    transform: translate(-50%,-50%);
    margin: 55%;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (min-width: 576px) {
    .Icon .Title {
        font-size: 1rem;
    }
    .Icon, .Icon:hover .Title {
        width: 150px;
        height: 150px;
    }
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
    .Icon .Title {
        font-size: .9rem;
    }
    .Icon, .Icon:hover .Title {
        width: 130px;
        height: 130px;
        border-width: 3px;
        box-sizing: border-box;
    }
}

@media (min-width: 1200px) {
    .Icon .Title {
        font-size: 1.15rem;
    }
    .Icon, .Icon:hover .Title {
        width: 160px;
        height: 160px;
    }
}
