.Info {
    font-size: .8rem;
    margin-top: 10px;
    position: relative;
}
.Info p {
    margin-bottom: 0;
}

@media (min-width: 576px) {
    .Info {
        margin-top: 0;
        margin-left: 70px;
        padding-top: 10px;
        font-size: .9rem;
    }
}

@media (min-width: 768px) {
    .Info {
        margin-left: 100px;
        padding-top: 16px;
        font-size: 1.3rem;
        height: 88px;
    }
}

@media (min-width: 992px) {
    .Info {
        margin-left: 120px;
        padding-top: 16px;
        font-size: 1.6rem;
        height: 110px;
    }
}

@media (min-width: 1200px) {
    .Info {
        margin-left: 160px;
        padding-top: 16px;
        font-size: 2rem;
        height: 136px;
    }
}
