.Lead {
    border-top: 2px solid white;
    width: 100%;
    margin: 6px 0 6px auto;
    box-sizing: border-box;
    padding-top: 4px;
    font-size: .8rem;
}

@media (min-width: 576px) {
    .Lead {
        margin-top: 5px;
        width: 438px;
    }

    .Lead:before {
        content: "";
        display: block;
        height: 2px;
        width: 140px;
        background-color: white;
        position: absolute;
        right: 0;
        margin-top: -6px;
    }
}

@media (min-width: 768px) {
    .Lead {
        margin-top: 0;
        width: 584px;
        font-size: 1rem;
        padding-top: 6px;
    }
    .Lead:before {
        width: 150px;
        margin-top: -8px;
    }
}

@media (min-width: 992px) {
    .Lead {
        margin-top: -3px;
        width: 804px;
        border-width: 3px;
        font-size: 1.2rem;
        padding-top: 8px;
    }
    .Lead:before {
        height: 3px;
        width: 150px;
        margin-top: -11px;
    }
}

@media (min-width: 1200px) {
    .Lead {
        margin-top: -4px;
        width: 950px;
        font-size: 1.4rem;
        padding-top: 10px;
    }
    .Lead:before {
        height: 3px;
        width: 750px;
        margin-top: -13px;
    }
}
